<h1>List of Artists</h1>

<h3><%= pluralize(@artist.song_count, 'Song') %></h3>
<ul>
  <% @artists.each do |a| %>
    <li><%= link_to a.name, artist_path(a) %> <h3><%= pluralize(@artist.song_count, 'Song') %></h3></li>
  <% end %>
</ul>
